@model RobotWars

@{
    ViewData["Title"] = "Robot Wars";
}

<div class="text-center">
    <h1 class="display-4">Robot Wars</h1>

        <br /><br /><br />
        <p>Error - There was an issue.</p>
